* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

/* DESKTOP MODE */ 
:root{
    --COLOR: white;
}

body{
    background-color: hsl(210, 46%, 95%);
    display:flex; 
    flex-direction:column; 
    justify-content:center;
    min-height: 100vh;
    margin: 1rem auto;
    max-width: 90%;
    overflow: scroll;
    font-family: BarlowSemiCondensed;
    src: url(https://fonts.google.com/specimen/Barlow+Semi+Condensed);
    font-size: 13px;
    font-weight: 500px;
    line-height: 1.5;
    color: var(--COLOR);
}


/* OLD VERSION */

.grid_container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5rem;
    grid-auto-rows: minmax(100px, auto);
    
}

.grid_items{
    border: 5px solid transparent;
    border-radius: 10px;
    padding: 2rem;
}


.Daniel_Clifford{
    grid-column: 1/3;
    grid-row: 1;
    background-color: hsl(263, 55%, 52%);
}

.Jonathan_Walters{
    grid-column: 3;
    grid-row: 1;
    background-color: hsl(217, 19%, 35%);
}

.Kira_Whittle{
    grid-column: 4;
    grid-row: 1/3;
    background-color: hsl(0, 0%, 100%);
    color: black;
}

.Jeanette_Harmon{
    grid-column: 1;
    grid-row: 2;
    background-color: hsl(0, 0%, 100%);
    color: black;
}

.Patrick_Abrams{
    grid-column: 2/4;
    grid-row: 2;
    background-color: hsl(219, 29%, 14%);
}

.Kira_Whittle img,.Jeanette_Harmon img{
    border: 5px solid inherit;
    border-radius: 50%;
    column-fill: auto;
}

.Daniel_Clifford img, .Jonathan_Walters img, .Patrick_Abrams img{
    border: 3px solid purple;
    border-radius: 50%;
}

img{
    float: left;
    margin-right: 1rem;
}

.largP{
    font-weight: 600px;
    font-weight: bold;
    opacity: 70%;
}

p{
    opacity: 50%;
}

/*ATTRIBUTION */
.attribution { 
    font-size: 11px; 
    text-align: center; 
    color:black;
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}


/* MOBILE MODE */
@media only screen and (max-width:1440px) {
    .grid_container{
        display: flex;
        flex-direction: column;
        justify-content:center;
        flex-wrap: nowrap;
        flex-grow: 1;
        align-items: center;
    }
    .grid_items{
        width: inherit;
    }
    .Daniel_Clifford, .Jeanette_Harmon, .Jonathan_Walters,.Kira_Whittle, .Patrick_Abrams{
        display: flex;
        flex-direction: column;
        flex: 1;
    }

}
